.followup-container {
  --background: var(--background-light);
}

.followup-wrapper {
  padding: 16px;
}

.patient-selector {
  margin-bottom: 20px;

  label {
    color: var(--text);
    font-weight: bold;
  }

  select {
    width: 100%;
    margin-top: 5px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    background: var(--followup-select);
    color: var(--text);
  }
}

.sessions-table {
  table {
    width: 100%;
    border-collapse: collapse;
    background: white;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 10px var(--box-shadow);

    th {
      background: var(--followup-table-header);
      padding: 10px;
      font-weight: bold;
      color: var(--title);
      border-bottom: 1px solid var(--followup-table-header-border-bottom);
    }

    td {
      padding: 10px;
      border-bottom: 1px solid var(--followup-table-line);
      color: var(--text);
    }

    .date-time {
      display: flex;
      flex-direction: column;
      gap: 2px;
    }

    tr:last-child td {
      border-bottom: none;
    }
  }
}

.no-data {
  text-align: center;
  color: var(--text-muted);
  margin-top: 20px;
  font-style: italic;
}