// For information on how to create your own theme, please refer to:
// https://ionicframework.com/docs/theming/

:root {
    --background-light: #fafafa;
    --background-grey: #dedede;

    --header-background: #cfe9ff;
    --header-border-bottom: #b9d8f7;
    --header-title-color: #1a3e66;
    --header-lang-button-background: #ffffff;
    --header-lang-button-background-hover: #f6fbff;
    --header-lang-button-border: #aacded;
    --header-lang-button-text-color: #1a3e66;

    --text: #333;
    --text-muted: #555;

    --input-border: #ccc;
    --input-border-focus: #007aff;

    --button: #007aff;
    --button-hover: #005fcc;

    --hypertext: #007aff;

    --error: #d9534f;
}