<ion-content [fullscreen]="true" class="home-container">

  <app-header titleFR="Accueil" titleEN="Home" [lang]="lang"/>

  <div class="top-wrapper">
    <div class="left-section">

      <h2>
        {{ lang === 'FR' ? 'Bonjour' : 'Hello' }} {{ firstName }},
      </h2>

      <p class="account-type">
        {{ lang === 'FR' ? 'Compte' : 'Account' }} :
        @if(lang == "FR") {
          {{ accountType }}
        }
        @else {
          {{ accountType === 'Patient' ? 'Patient' : 'Specialist' }}
        }
      </p>

    </div>
  </div>

  <div class="bottom-wrapper">
    <button class="logout-btn" (click)="logout()">
      {{ lang === 'FR' ? 'Se déconnecter' : 'Logout' }}
    </button>
  </div>

</ion-content>
